[init]
	defaultBranch = main
[user]
	name = John Rodocker
	email = johnkrodocker@gmail.com
[credential]
	helper = store --file ~/.gitconfig-credential
[core]
	autoCRLF = false
	editor = codium --wait
